<div class="header">
    <div class="row">
        <div class="col-md-6">
            <h3>Foot store <i class="bi bi-shop"></i></h3>
        </div>
        <div class="col-md-6">
            <ul>
                <li class="items"> <input class="input" type="text" name="iname" placeholder="Search Here...">&nbsp;
                    <button class="btn btn-primary" ng-click="show()">
                        <span> <i class="bi bi-search" style="color: white;"></i></span>
                    </button>
                </li>
                <li class="items"><a href="#">Home</a></li>
                <li class="items"><a href="#">Account</a></li>
                <li class="items"><a href="#">login</a></li>
                <li class="items"><a href="#"><i class="bi bi-cart-check"></i> <span class="badge badge-warning"
                            ng-init="0">0</span></a>Cart</li>
            </ul>
        </div>
    </div>
</div>