<div class="body">
    <div class="row main-row">
      <div class="col-md-3" *ngFor="let cart of carts">
        <div id="cardHead" class="card">
          <img class="cartImag" [src]="cart.Image" alt="image">
          <div class="card-body">
            <h5>{{cart.name}}</h5>
            <p>{{cart.desc}}</p>
            <h5>{{cart.price}}</h5>
            <i class="bi bi-heart-fill" ng-style="{'fill': clicked ==true ? 'red'; 'black'}">
            </i><br>
            <button class="btn btn-danger"> Buy Now</button>
          </div>
        </div>
      </div>
    </div>
</div>