.cartImag{
    width: 150px;
    height: 120px;
    margin-top: 5%;
    margin-left: 20%;
    text-align: center;
}
#cardHead{
    margin-top: 4%;
    margin-bottom: 4%;
    width: 300px;
    height: 350px;
}