<div class="row">
    <div class="col-md-3" *ngFor="let item of product">
        <div class="card">
            <img [src]="item.Image" alt="image">
            <div class="card-body">
                <h5>{{item.name}}</h5>
                <p>{{item.desc}}</p>
                <h5>₹{{item.price}}</h5>
                <i class="bi bi-heart-fill" ng-style="{'fill': clicked ==true ? 'red'; 'black'}">
                </i><br>
                <button class="btn btn-primary" (Click)="store()"> Add to Cart</button>
            </div>
        </div>
    </div>
</div>