h3{
    font-style:italic ;
    margin-left: 2%;
    margin-top: 1%;
    /* display: inline-flex; */
}
#row2{
    background-color: antiquewhite;
}
.items{
 padding-top: 2%;
}
li,a{
 text-decoration: none;
 list-style-type: none;
 display: inline-flex; 
 padding-left: 3%;

}
#row1{
    padding: 2%;
}
.card{
    box-shadow:  5px 5px 3px 0px rgb(93, 233, 203);
    margin-bottom: 4%;
    width: 300px;
    height: 350px;
    
}

img{
    width: 150px;
    height: 120px;
    margin-top: 5%;
    margin-left: 20%;
   text-align: center;
}